# ファイル名：gitignore
# 目的：GIT対象外設定ファイル
# -------------------------------------

config/
profiles/
chrome_profile/
logs/
cache/

.env
TEST/
/data/
/tool_trash/
_upload/
uploads/
tool_trash/
list/

*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc

# venv
venv/
env/
*_env/
web_v2_env/
dev_v2_env/

# DB
*.db
*.sqlite
*.sqlite3

# logs
log/
logs/
*.log

# cache
.cache/
.pytest_cache/

# VSCode
.vscode/

# OS
Thumbs.db
.DS_Store

*-wal
*-shm

# BAT
*.bat
!setup_venv.bat
!update_requirements.bat

# Environment
.env

*.csv
*.xlsx
*.txt
!requirements.txt

